<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>
  </head>
  <body>
    <h1>Submit An Article</h1>

    <form action=form method=post>
    <p>
      <label for=title>Article Title:</label>
      <input type=text id=title name=title>
    </p>
    <p>
    <label for=url>URL:</label>
    <input type=text id=url name=url>
    </p>
    <p>
      <label for=description>Description:</label>
      <input type=text id=description name=description>
    </p>

    <button type=submit> Submit </button>
  </form>
  </body>
</html>
