<!DOCTYPE html>
<html>
<head>
  <title>Grocery List</title>
</head>

<body>
  <h1>Groceries</h1>

  <ul>
    <% items.each do |item| %>
    <li><%= item %></a></li>
    <% end %>
  </ul>

  <form action="/groceries" method="post">
    <label for="item">New Item:</label>
    <input type="item" id="item" name="item">

    <input type="submit">
  </form>
</body>
</html>
